version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - LOSEME_DATA_DIR=/data
      - QDRANT_URL=http://qdrant:6333
      - LOSEME_DEVICE_ID=MasterMind
      - LOSEME_SOURCE_ROOT_HOST=/run/media/ben/data/Nextcloud/Home/H_Projects/loseme/data/
    volumes:
      - .:/app
      - ${LOSEME_DATA_DIR:-./data}:/data:ro
    command: uvicorn api.app.main:app --host 0.0.0.0 --port 8000 --log-level info --reload

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  test:
    build: ./api
    volumes:
      - .:/app
    working_dir: /app
    environment:
      PYTHONPATH: /app
      QDRANT_URL: http://qdrant:6333
      ALLOW_VECTOR_CLEAR: "1"
      LOSEME_DEVICE_ID: "MasterMind"
    depends_on:
      - qdrant
    command: pytest -v -s  -o log_cli_level=DEBUG
  
  docs:
    build:
      context: .
      dockerfile: docker/docs.Dockerfile
    volumes:
      - .:/app  # Mount local files for live rebuilds
    command: sh -c "make -C docs clean html"

volumes:
  qdrant_data:

