version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - LOSEME_DATA_DIR=/data
      - QDRANT_URL=http://qdrant:6333
      - LOSEME_DEVICE_ID:"MasterMind"
    volumes:
      - .:/app
      - ${LOSEME_DATA_DIR:-./data}:/data:ro
    command: uvicorn api.app.main:app --host 0.0.0.0 --port 8000

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  test:
    build: ./api
    volumes:
      - .:/app
    working_dir: /app
    environment:
      PYTHONPATH: /app
      QDRANT_URL: http://qdrant:6333
      ALLOW_VECTOR_CLEAR: "1"
      LOSEME_DEVICE_ID: "MasterMind"
    depends_on:
      - qdrant
    command: pytest -v

  cli:
    build:
      context: .
      dockerfile: api/Dockerfile
    depends_on:
      - api
    environment:
      - LOSEME_DATA_DIR=/data
      - API_URL=http://api:8000
    volumes:
      - .:/app
      - ${LOSEME_DATA_DIR:-./data}:/data:ro
    entrypoint: ["python", "-m", "clients.cli.main"]

  
  docs:
    build:
      context: .
      dockerfile: docker/docs.Dockerfile
    volumes:
      - .:/app  # Mount local files for live rebuilds
    command: sh -c "make -C docs clean html"

volumes:
  qdrant_data:

